<a href="https://colab.research.google.com/github/heejininku/2023summer/blob/main/codeit_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D%EA%B3%BC_%EB%8D%B0%EC%9D%B4%ED%84%B0_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**for 반복문**

In [ ]:
my_list = [2,3,5,7,11]

for num in my_list:
  print (num)

2
3
5
7
11

**range 함수**

In [ ]:
# 파라미터 2개 버전
for i in range (3,11): # 3부터 10까지의 범위 (11은 미포함! 기억하자.)
  print(i)

3
4
5
6
7
8
9
10

In [ ]:
# 파라미터 1개 버전
for i in range (10): # 0부터 9까지의 범위
  print (i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# 파라미터 3개 버전
for i in range(3,17,3): # 3부터 16까지이고, 간격(step)이 3임
  print (i)

3
6
9
12
15

range 함수의 장점

: 간편함, 깔끔함, 메모리 효율성

In [ ]:
#range 연습 예제
numbers = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]

# 인덱스와 원소 출력
for i in range (len(numbers)):
    print (i, numbers[i])

0 2
1 3
2 5
3 7
4 11
5 13
6 17
7 19
8 23
9 29
10 31

In [ ]:
# 거듭제곱 예제
for i in range(11): # 0부터 10까지의 리스트
    print (f"2^{i}={2**i}") # 문자열 포맷팅 f.string 이용

2^0=1
2^1=2
2^2=4
2^3=8
2^4=16
2^5=32
2^6=64
2^7=128
2^8=256
2^9=512
2^10=1024

In [ ]:
# for문으로 구구단
for i in range (1,10):
    for j in range (1,10):
      print (f"{i}*{j}={i*j}")

In [ ]:
# 피타고라스 삼조 예제
# a<b<c 라고 가정할 때, a+b+c=400을 만족하는 피타고라스 삼조 (a,b,c)는 단 하나인데요. 이 경우, a∗b∗c는 얼마인가요?
for a in range(1, 400):   # a의 범위는 1부터 399로 설정
    for b in range(1, 400):   # b의 범위도 1부터 399로 설정
        c = 400 - a - b   # 총합을 알고 있기에 c는 범위를 따로 구하지 않고 총합 400에서 나머지 a,b를 빼면 되는 것
        if a * a + b * b == c * c and a < b < c:    # 조건 부여
            print(a * b * c)

2040000

In [ ]:
# 리스트 뒤집기 예제
# numbers라는 리스트가 주어졌을 때, for문을 사용하여 리스트를 거꾸로 뒤집어 보세요!

# 방법 1) for문은 아니지만, sorted 함수를 이용해서 가장 간단하게 표현하는 방법
numbers = [2, 3, 5, 7, 11, 13, 17, 19]
# 리스트 뒤집기
numbers = sorted(numbers, reverse = True)
print("뒤집어진 리스트: " + str(numbers))

# 방법 2)
numbers = [2, 3, 5, 7, 11, 13, 17, 19]

# 리스트 뒤집기
for left in range(len(numbers) // 2): # 오히려 다 돌게 되면 다시 리스트가 원상복귀되기에 절반만 돌아야 함
    # 인덱스 left와 대칭인 인덱스 right 계산
    right = len(numbers) - left - 1

    # 위치 바꾸기
    temp = numbers[left] # temp 에 left(원래 리스트) 일시저장
    numbers[left] = numbers[right]
    numbers[right] = temp

print("뒤집어진 리스트: " + str(numbers))

# 방법 3)
numbers = [2, 3, 5, 7, 11, 13, 17, 19]

# 리스트 뒤집기
for left in range(len(numbers) // 2):
    # 인덱스 left와 대칭인 인덱스 right 계산
    right = len(numbers) - left - 1

    # 위치 바꾸기
    numbers[right], numbers[left] = numbers[left], numbers[right]

print("뒤집어진 리스트: " + str(numbers))

뒤집어진 리스트: [19, 17, 13, 11, 7, 5, 3, 2]
뒤집어진 리스트: [19, 17, 13, 11, 7, 5, 3, 2]
뒤집어진 리스트: [19, 17, 13, 11, 7, 5, 3, 2]

In [ ]:
#예제 - 자리수 합 구하기

# 자리수 합 리턴
def sum_digit(num): # 자릿수 합 함수 정의
    total = 0  # 자릿수 합 보관하는 변수 total
    str_num = str(num) # 정수형 num을 문자열로 변화
    for digit in str_num: # 문자열에서 반복적으로 각 자릿수를 받음
      total += int(digit) #토탈 변수 0에 문자열의 각 자릿수들을 하나씩 더한다.
    return total #반복이 끝나면 total 리턴

# sum_digit(1)부터 sum_digit(1000)까지의 합 구하기
digit_total = 0
for i in range(1, 1001):
    digit_total += sum_digit(i)

print(digit_total)