<a href="https://colab.research.google.com/github/heejininku/2023summer/blob/main/codeit_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D%EA%B3%BC_%EB%8D%B0%EC%9D%B4%ED%84%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**list (리스트)**

In [ ]:
# 리스트 (list)
numbers = [2,3,5,7,11,13]
names = ["윤수","혜린", "태호", "영훈"]

# 인덱싱 (indexing)
print (names[0])
print (numbers[1]+numbers[3]) # 파이썬은 0부터 시작한다는 점 주의!

윤수
10

In [ ]:
num_1 = numbers[1] # 이런식으로 따로 이름을 붙인 다음에 더해주는 것도 가능
num_3 = numbers[3]
print (num_1 + num_3)

print (numbers[-1]) # -1은 가장 뒤의 것을 의미함
print (numbers[-2])

10
13
11

In [ ]:
#리스트 슬라이싱
print(numbers[0:4]) # 0~3번째 숫자까지 (4번째는 포함하지 않음)
print(numbers[:3]) # 0~2번째 숫자까지
print(numbers[2:]) #2번(3번째 숫자)부터 끝까지

[2, 3, 5, 7]
[2, 3, 5]
[5, 7, 11, 13]

In [ ]:
new_list = numbers[:3] #[2,3,5]를 의미하는 새로운 list가 만들어짐.
print(new_list[2])

5

In [ ]:
numbers[0] =7
# 정수 7를 0번째 index에 할당하는 것
print(numbers)

[7, 3, 5, 7, 11, 13]

In [ ]:
numbers[1] = numbers[0] + numbers[2] #7과 5를 더해서 1번째 index에 넣기
print (numbers)

[7, 12, 5, 7, 11, 13]

**리스트 함수**

In [ ]:
numbers = []
numbers. append (5) # numbers. append()는 리스트에 새로운 숫자를 넣어주는 것
numbers. append (8)
print(numbers)

[5, 8]

In [ ]:
print(len(numbers)) # len ()은 리스트의 길이를 말하는 것

2

In [ ]:
numbers = [2,3,5,7,11,13,17,19]
del numbers [3] #3번 index인 7를 제거함 (원래 있던 것들은 앞으로 한칸씩 올 것)
# del(리스트이름)[몇번째 index] 는 해당 index를 지워달라는 의미임.
print (numbers)

[2, 3, 5, 11, 13, 17, 19]

In [ ]:
numbers = [2,3,5,7,11,13,17,19]
numbers. insert (4,37)
print(numbers)
# 4번째 index에 37를 넣으라는 의미 (원래 있던 것들은 뒤로 밀려날 것)
# numbers. insert는 무조건 오른쪽 끝에 추가를 하는 numbers. append 와 달리 특정한 index 순서를 집어서 바꿀 수 있음.

# numbers. insert: 삽입 연산
# numbers. append: 추가 연산

[2, 3, 5, 7, 37, 11, 13, 17, 19]

**리스트 정렬**

방법 1 sorted

: 기존 리스트는 건드리지 않고, 정렬된 새로운 리스트를 리턴

In [ ]:
numbers = [19, 13, 2, 5, 3, 11, 7, 17]

# 크기가 작은 순서대로 정렬하고 싶다
new_list = sorted(numbers)
print(new_list)
# 크기가 큰 순서대로 정렬하고 싶다면
new_list = sorted(numbers, reverse = True) # 반대로 정렬하라.
print(new_list)

# 다만 이후에 다시 print (numbers)하면, 다시 원래 리스트 등장
# sorted는 기존의 리스트를 건드리지 않는 선에서 진행

[2, 3, 5, 7, 11, 13, 17, 19]
[19, 17, 13, 11, 7, 5, 3, 2]

방법 2 sort

: 아무것도 리턴하지 않고, 기존 리스트를 정렬

In [ ]:
numbers = [19, 13, 2, 5, 3, 11, 7, 17]

print (numbers.sort()) #이번에는 새로운 리스트가 나오지를 않고 None이 나옴
#sort는 return하지 않고 정렬만 함

numbers.sort()
print (numbers) # 이것을 해야 보임

#만약 반대로 하고 싶다면
numbers. sort (reverse= True)
print (numbers)

None
[2, 3, 5, 7, 11, 13, 17, 19]
[19, 17, 13, 11, 7, 5, 3, 2]

In [ ]:
#예제
#greetings 리스트의 원소를 모두 출력하는 프로그램을 작성해 보세요. while문과 리스트의 개념을 활용하시면 됩니다
greetings = ["안녕", "니하오", "곤니찌와", "올라", "싸와디캅", "헬로", "봉주르"]

i = 0
while i <= 6:
   print (greetings[i])
   i += 1

안녕
니하오
곤니찌와
올라
싸와디캅
헬로
봉주르

In [ ]:
# 화씨 온도에서 섭씨 온도로 바꿔 주는 함수
def fahrenheit_to_celsius(fahrenheit):
    # 여기에 코드를 작성하세요
    return ((fahrenheit - 32) *5 / 9)


temperature_list = [40, 15, 32, 64, -4, 11]
print("화씨 온도 리스트: {}".format(temperature_list))  # 화씨 온도 출력

# 리스트의 값들을 화씨에서 섭씨로 변환하는 코드를 입력하세요
for i in range(len(temperature_list)):
    temperature_list[i] = fahrenheit_to_celsius(temperature_list[i])

for temp in temperature_list:
print("섭씨 온도 리스트: {0:.1f}".format(temperature_list))  # 섭씨 온도 출력