<a href="https://colab.research.google.com/github/heejininku/2023summer/blob/main/codeit_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D%EA%B3%BC_%EB%8D%B0%EC%9D%B4%ED%84%B0_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**list (리스트)**

In [ ]:
# 리스트 (list)
numbers = [2,3,5,7,11,13]
names = ["윤수","혜린", "태호", "영훈"]

# 인덱싱 (indexing)
print (names[0])
print (numbers[1]+numbers[3]) # 파이썬은 0부터 시작한다는 점 주의!

윤수
10

In [ ]:
num_1 = numbers[1] # 이런식으로 따로 이름을 붙인 다음에 더해주는 것도 가능
num_3 = numbers[3]
print (num_1 + num_3)

print (numbers[-1]) # -1은 가장 뒤의 것을 의미함
print (numbers[-2])

10
13
11

In [ ]:
#리스트 슬라이싱
print(numbers[0:4]) # 0~3번째 숫자까지 (4번째는 포함하지 않음)
print(numbers[:3]) # 0~2번째 숫자까지
print(numbers[2:]) #2번(3번째 숫자)부터 끝까지

[2, 3, 5, 7]
[2, 3, 5]
[5, 7, 11, 13]

In [ ]:
new_list = numbers[:3] #[2,3,5]를 의미하는 새로운 list가 만들어짐.
print(new_list[2])

5

In [ ]:
numbers[0] =7
# 정수 7를 0번째 index에 할당하는 것
print(numbers)

[7, 3, 5, 7, 11, 13]

In [ ]:
numbers[1] = numbers[0] + numbers[2] #7과 5를 더해서 1번째 index에 넣기
print (numbers)

[7, 12, 5, 7, 11, 13]

**리스트 함수**

In [ ]:
numbers = []
numbers. append (5) # numbers. append()는 리스트에 새로운 숫자를 넣어주는 것
numbers. append (8)
print(numbers)

[5, 8]

In [ ]:
print(len(numbers)) # len ()은 리스트의 길이를 말하는 것

2

In [ ]:
numbers = [2,3,5,7,11,13,17,19]
del numbers [3] #3번 index인 7를 제거함 (원래 있던 것들은 앞으로 한칸씩 올 것)
# del(리스트이름)[몇번째 index] 는 해당 index를 지워달라는 의미임.
print (numbers)

[2, 3, 5, 11, 13, 17, 19]

In [ ]:
numbers = [2,3,5,7,11,13,17,19]
numbers. insert (4,37)
print(numbers)
# 4번째 index에 37를 넣으라는 의미 (원래 있던 것들은 뒤로 밀려날 것)
# numbers. insert는 무조건 오른쪽 끝에 추가를 하는 numbers. append 와 달리 특정한 index 순서를 집어서 바꿀 수 있음.

# numbers. insert: 삽입 연산
# numbers. append: 추가 연산

[2, 3, 5, 7, 37, 11, 13, 17, 19]

**리스트 정렬**

방법 1 sorted

: 기존 리스트는 건드리지 않고, 정렬된 새로운 리스트를 리턴

In [ ]:
numbers = [19, 13, 2, 5, 3, 11, 7, 17]

# 크기가 작은 순서대로 정렬하고 싶다
new_list = sorted(numbers)
print(new_list)
# 크기가 큰 순서대로 정렬하고 싶다면
new_list = sorted(numbers, reverse = True) # 반대로 정렬하라.
print(new_list)

# 다만 이후에 다시 print (numbers)하면, 다시 원래 리스트 등장
# sorted는 기존의 리스트를 건드리지 않는 선에서 진행

[2, 3, 5, 7, 11, 13, 17, 19]
[19, 17, 13, 11, 7, 5, 3, 2]

방법 2 sort

: 아무것도 리턴하지 않고, 기존 리스트를 정렬

In [ ]:
numbers = [19, 13, 2, 5, 3, 11, 7, 17]

print (numbers.sort()) #이번에는 새로운 리스트가 나오지를 않고 None이 나옴
#sort는 return하지 않고 정렬만 함

numbers.sort()
print (numbers) # 이것을 해야 보임

#만약 반대로 하고 싶다면
numbers. sort (reverse= True)
print (numbers)

None
[2, 3, 5, 7, 11, 13, 17, 19]
[19, 17, 13, 11, 7, 5, 3, 2]

In [ ]:
#예제
#greetings 리스트의 원소를 모두 출력하는 프로그램을 작성해 보세요. while문과 리스트의 개념을 활용하시면 됩니다
greetings = ["안녕", "니하오", "곤니찌와", "올라", "싸와디캅", "헬로", "봉주르"]

i = 0
while i <= 6:
   print (greetings[i])
   i += 1

안녕
니하오
곤니찌와
올라
싸와디캅
헬로
봉주르

In [ ]:
# 화씨 온도에서 섭씨 온도로 바꿔 주는 함수
def fahrenheit_to_celsius(fahrenheit):
    return (fahrenheit - 32) *5 / 9


temperature_list = [40, 15, 32, 64, -4, 11]
print("화씨 온도 리스트: {}".format(temperature_list))  # 화씨 온도 출력
# 리스트의 값들을 화씨에서 섭씨로 변환하는 코드를 입력하세요
i = 0
while i <= len(temperature_list) - 1:
    temperature_list[i] = round(fahrenheit_to_celsius(temperature_list[i]), 1)
    i += 1
print("섭씨 온도 리스트: {}".format(temperature_list)) # 섭씨 온도 출력

화씨 온도 리스트: [40, 15, 32, 64, -4, 11]
섭씨 온도 리스트: [4.4, -9.4, 0.0, 17.8, -20.0, -11.7]

In [ ]:
#예제 : 환전 서비스
# 원화(￦)에서 달러($)로 변환하는 함수
def krw_to_usd(krw):
    return 1/ 1000 * krw


# 달러($)에서 엔화(￥)로 변환하는 함수
def usd_to_jpy(usd):
    return 1000/8 * usd


# 원화(￦)으로 각각 얼마인가요?
prices = [34000, 13000, 5000, 21000, 1000, 2000, 8000, 3000]
print("한국 화폐: " + str(prices))

# prices를 원화(￦)에서 달러($)로 변환하기
i = 0
while i < len(prices) :
    prices[i] = round (krw_to_usd(prices[i]), 1)
    i += 1
# 달러($)로 각각 얼마인가요?
print("미국 화폐: " + str(prices))

# prices를 달러($)에서 엔화(￥)으로 변환하기
i = 0
while i < len(prices) :
    prices [i] = round (usd_to_jpy(prices[i]), 1)
    i += 1

# 엔화(￥)으로 각각 얼마인가요?
print("일본 화폐: " + str(prices))

In [ ]:
#리스트 함수 활용하기

# 빈 리스트 만들기
numbers = [ ]
print(numbers)

# numbers에 값들 추가
numbers.append (1)
numbers.append (7)
numbers.append (3)
numbers.append (6)
numbers.append (5)
numbers.append (2)
numbers.append (13)
numbers.append (14)
print(numbers)

# numbers에서 홀수 제거
i = 0
while i < len(numbers) :
    if numbers[i] % 2 == 1:
        del numbers[i]
    else:
      i += 1
print(numbers)

# numbers의 인덱스 0 자리에 20이라는 값 삽입
numbers.insert (0, 20)
print(numbers)

# numbers를 정렬해서 출력
numbers.sort()
print(numbers)

[]
[1, 7, 3, 6, 5, 2, 13, 14]
[6, 2, 14]
[20, 6, 2, 14]
[2, 6, 14, 20]

**리스트에서 값의 존재 확인하기**

In [ ]:
# 어떤 값이 리스트에 있는지 확인하는 함수를 써보겠습니다.
# value가 some_list의 요소인지 확인
def in_list(some_list, value):
    i = 0
    while i < len(some_list):
        # some_list에서 value를 찾으면 True를 리턴
        if some_list[i] == value:
            return True
        i = i + 1

    # 만약 some_list에서 value를 발견하지 못했으면 False를 리턴
    return False

# 테스트
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23]
print(in_list(primes, 7))
print(in_list(primes, 12))

True
False

In [ ]:
# 쓰는데 아주 어렵지는 않습니다. 하지만 리스트에 값의 존재를 확인하는 것은 너무 자주 있는 일이라서 파이썬에 이미 이 기능이 내장되어 있습니다.
# in이라는 키워드를 쓰면 됩니다.
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23]
print(7 in primes)
print(12 in primes)

True
False

In [ ]:
# 거꾸로 값이 없는지 확인하려면 in 앞에 not을 붙이면 됩니다.

primes = [2, 3, 5, 7, 11, 13, 17, 19, 23]
print(7 not in primes)
print(12 not in primes)

False
True

**리스트 안의 리스트 (Nested List)**

리스트 안에는 또 다른 리스트가 있을 수 있습니다. 이를 영어로 nested list라고 부릅니다.

In [ ]:
# 세 번의 시험을 보는 수업
grades = [[62, 75, 77], [78, 81, 86], [85, 91, 89]]

# 첫 번째 학생의 성적
print(grades[0])

# 세 번째 학생의 성적
print(grades[2])

# 첫 번째 학생의 첫 번째 시험 성적
print(grades[0][0])

# 세 번째 학생의 두 번째 시험 성적
print(grades[2][1])

# 첫 번째 시험의 평균
print((grades[0][0] + grades[1][0] + grades[2][0]) / 3)

[62, 75, 77]
[85, 91, 89]
62
91
75.0

**sort 메소드**

In [ ]:
#some_list.sort()는 새로운 리스트를 생성하지 않고 some_list를 정렬된 상태로 바꿔줍니다.

numbers = [5, 3, 7, 1]
numbers.sort()
print(numbers)

[1, 3, 5, 7]

**reverse 메소드**

In [ ]:
# some_list.reverse()는 some_list의 원소들을 뒤집어진 순서로 배치합니다.

numbers = [5, 3, 7, 1]
numbers.reverse()
print(numbers)

[1, 7, 3, 5]

**index 메소드**

In [ ]:
# some_list.index(x)는some_list에서 x의 값을 갖고 있는 원소의 인덱스를 리턴해줍니다.

members = ["영훈", "윤수", "태호", "혜린"]
print(members.index("윤수"))
print(members.index("태호"))

1
2

**remove 메소드**

In [ ]:
# some_list.remove(x)는some_list에서 첫 번째로 x의 값을 갖고 있는 원소를 삭제해줍니다.

fruits = ["딸기", "당근", "파인애플", "수박", "참외", "메론"]
fruits.remove("파인애플")
print(fruits)

['딸기', '당근', '수박', '참외', '메론']