<a href="https://colab.research.google.com/github/heejininku/2023summer/blob/main/codeit_%ED%8C%8C%EC%9D%B4%EC%8D%AC_%ED%95%B5%EC%8B%AC%EA%B0%9C%EB%85%90_%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**숫자형(number)**

In [ ]:
#덧셈
print (4+7)
#뺄셈
print (2-4)
#곱셈
print (5*3)
#나머지 (나머지 기호: % -> 아래 코드는 7를 3으로 나눈 것의 나머지를 구하라는 것)
print (7%3)
#거듭제곱(** 별을 두개 사용)
print (2**3)

11
-2
15
1
8

정수형으로 식을 쓰면 정수형으로 나옴

소수형으로 식을 쓰면 소수형으로 나옴

두개가 섞여 있으면 소수형으로 나옴 (정수형보다 소수형이 힘이 더 강하다)

In [ ]:
#나눗셈
#위의 정수형, 소수형 룰을 따르지 않음
#어떻게 하던지 간에 다 소수형이 나옴
print (7/2)
print (6/2)
print (7.0/2)
print (6.0/2.0)

3.5
3.0
3.5
3.0

In [ ]:
print (2+3*2)
print (2*(2+3))

8
10

In [ ]:
#floor division (버림 나눗셈)
print (7//2)
#나온 결과 값에서 소수점을 버리는 것
print (8//3)
print (8.0//3) #둘 중 하나가 소수형이기에 소수형이 나옴

3
2
2.0

In [ ]:
#round함수 #반올림
print(round(3.1415926535)) #라운드 함수의 parameter에 소수형을 넣어준 것
#소수 둘째자리까지 반올림 : 두번째 parameter에 2
print(round(3.1415926535, 2))
print(round(3.1415926535, 4)) #소수 넷째자리까지 반올림

3
3.14
3.1416

**문자열 (string)**

In [ ]:
print ("코드잇")
print ("유재석")
print ("I'm exicited to learn Python") # 작은 따옴표가 문장 안에 있으면 겉을 ""쓰기
# 만약 string 안에 ""도 있고 ''도 있으면, 안쪽 따옴표 앞에 \ 넣어주기
print ("I\'m \"exicited\" to learn Python")

코드잇
유재석
I'm exicited to learn Python
I'm "exicited" to learn Python

In [ ]:
print("hello"+"world")
print ("hello"*3)
print ("3"+"5")

helloworld
hellohellohello
35

**형 변환 (Type Conversion)**

파이썬에서 정수, 소수, 스트링 등의 자료형에서
한 자료형에서 다른 자료형으로 변환하는 것

In [ ]:
print (int(3.8)) #소수형인 3.8을 정수형(int)로 바꿈
print (float(3)) #정수형인 3을 소수형(float)로 바꿈
print (int("2")+int("5")) #스트링을 int로 바꾸어서 연산
print (float("1.1")+float ("2.5")) #스트링을 float으로 바꾸어서 연산
print (str(2)+str(5)) #정수형을 문자로 바꾸어서 연산

3
3.0
7
3.6

In [ ]:
age=7
#print ("제 나이는"+age+"살입니다.") #이렇게 코드를 쓰면 오류 -> 문자열과 정수형 연결 불가
print ("제 나이는 " + str(age)+"살입니다.") #이런식으로 string으로 바꾼 뒤 하면 문제 없음

제 나이는 7살입니다.

In [ ]:
#print(int("Hello world"))
#문자열인 Hello world는 소수로 바꿀 수 없기에 오류가 날 것
#형 변환은 논리적 가능성 따지기 필요

**format을 이용한 문자열 포매팅**

In [ ]:
# 오늘은 2019년 10월 29일입니다. #이것을 만드는 것이 목표라고 가정
year =2019
month = 10
day = 29
print ("오늘은 " + str(year)+"년 "+str(month)+"월 "+ str(day)+"일입니다.")

오늘은 2019년 10월 29일입니다.

In [ ]:
#위의 것이 맞지만, 번거롭기에 문자열 포매팅을 함
#이번에는 format mathod라는 것
print ("오늘은 {}년 {}월 {}일입니다.". format(year,month, day))

오늘은 2019년 10월 29일입니다.

In [ ]:
#아예 스트링을 변수로 지정해서 간단히 할 수도 있음
date_string = "오늘은 {}년 {}월 {}일입니다."
print (date_string. format(year,month, day))
#하루 뒤를 하고 싶다면
print (date_string. format(year,month, day+1))

오늘은 2019년 10월 29일입니다.
오늘은 2019년 10월 30일입니다.

In [ ]:
#format 다루기
print ("저는 {},{},{}를 좋아합니다!". format("박지성","유재석","빌 게이츠"))
#순서를 바꾸기
print ("저는 {1},{0},{2}를 좋아합니다!". format("박지성","유재석","빌 게이츠"))

저는 박지성,유재석,빌 게이츠를 좋아합니다!
저는 유재석,박지성,빌 게이츠를 좋아합니다!

In [ ]:
num_1 = 1
num_2 = 3
print("{0} 나누기 {1}은 {2}입니다.".format(num_1,num_2,num_1/num_2))
#만약 {2}부분을 소수점 둘째자리수까지 나타내고 싶다면, 소수형을 의미하는 f와 소수점 둘째자리 의미하는 .2 넣기
print("{0} 나누기 {1}은 {2:.2f}입니다.".format(num_1,num_2,num_1/num_2))
#그냥 정수로 나타내고 싶으면 0f 사용하면 된다.
#만약 {2}부분을 소수점 둘째자리수까지 나타내고 싶다면, 소수형을 의미하는 f와 소수점 둘째자리 의미하는 .2 넣기
print("{0} 나누기 {1}은 {2:.0f}입니다.".format(num_1,num_2,num_1/num_2))

1 나누기 3은 0.3333333333333333입니다.
1 나누기 3은 0.33입니다.
1 나누기 3은 0입니다.

**기타 문자열 포매팅**

In [ ]:
#가장 오래된 방식(% 기호)
name = "최지웅"
age = 32
print("제 이름은 %s이고 %d살입니다." % (name, age))


#새로운 방식 (f-string) #앞으로 많이 쓸 것으로 예상
name = "최지웅"
age = 32

print(f"제 이름은 {name}이고 {age}살입니다.")

제 이름은 최지웅이고 32살입니다.
제 이름은 최지웅이고 32살입니다.

**불 대수**

숫자값이 아니라 불 대수의 값은 진리값 (true, false)

and, or , not이 연산임.

주요 개념: 명제 (참과 거짓을 구분할 수 있는 것)

[and 연산]

x와 y가 모두 참일 때는 x and y 는 참

x와 y 중에서 하나라도 거짓이면  x and y 는 거짓

[or 연산]

x와 y가 하나라도 참이면 x or y는 참

x와 y가 둘다 거짓일 때만 x or y 가 거짓

[not 연산]

거꾸로 만들어버리는 것

예시: NOT 대한민국의 수도는 서울이다. -> 이것은 false

**불린형**

In [ ]:
print(True)
print(False)
#and
print (True and True)
print (True and False)
print (False and True)
print (False and False)
#or
print (True or True)
print (True or False)
print (False or True)
print (False or False)
#not
print (not True)
print (not False)

True
False
True
False
False
False
True
True
True
False
False
True

In [ ]:
#숫자비교
print (2>1)
print (2<1)
print (3>=2)
print (3<=3)
print (2==2) # ==는 같다는 뜻
print (2!=2) #!=는 같지 않다는 뜻

True
False
True
True
True
False

In [ ]:
print ("Hello"=="Hello")
print ("Hello"!="Hello")

True
False

In [ ]:
print (2>1 and "Hello"=="Hello")
print (not not True) #not False
print (not not False) #not True

True
True
False

In [ ]:
print (7==7 or (4<3 and 12>10))
#괄호 안의 내용이 false이므로 #True or False 상황

True

In [ ]:
x=3
print (x>4 or not (x<2 or x==3))
# false or not true -> 즉 false or false -> 결국 false 출력

False

**type 함수**

In [ ]:
print (type(3))
print (type(3.0))
print (type("3"))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
print (type("True"))
print (type(True))

<class 'str'>
<class 'bool'>

In [ ]:
def hello():
  print("Hello world!")

print (type(hello)) #위에서 함수로 정의 -> 함수는 일종의 자료형
print (type(print)) #내장함수라는 뜻으로 'builtin_function_or_method'이라고 나옴

<class 'function'>
<class 'builtin_function_or_method'>